{{page-title "TestNew"}}
<h1>TD4</h1>
<ul>
  {{#each @model.contacts as |contact|}}
      <li>{{contact.nom}} {{contact.prenom}} {{contact.mail}} <button type="button" {{action "delete" contact}}>Del</button>
        <LinkTo class="btn btn-primary" @route="contact.update" @model={{contact}}>Modifier</LinkTo></li>
  {{/each}}
</ul>
<hr/>
<LinkTo class="btn btn-primary" @route="contact.add">Ajouter</LinkTo>
{{#if @model.deletedsCount}}
  <button type="button" {{action "confirmer" @model.deleteds}}>Confirmer</button>
  <button type="button" {{action "cancelDeletion" @model.deleteds}}>Annuler la suppression ({{@model.deletedsCount}})</button>
{{/if}}
{{outlet}}