{{page-title "TestNew"}}
<h1></h1>
<ul>
  {{#each @model.contacts as |contact|}}
    <li>{{contact.nom}}
      <button {{action "delete" contact}}>Del</button>
    </li>
  {{/each}}
</ul>
<Input @value={{this.name}}/>
<button type="button" {{action "add" this.name}}>Ajouter</button>
{{#if @model.deletedsCount}}
  <button {{action "cancelDeletion" @model.deleteds}}> Annuler la suppression ({{@model.deletedsCount}})</button>
{{/if}}
{{outlet}}